@font-face {
  font-family: DMMonoMediumItalic;
  src: url("./fonts/DMMono-MediumItalic.ttf");
}

@font-face {
  font-family: DMMonoLight;
  src: url("./fonts/DMMono-Light.ttf");
}

* {
  font-family: DMMonoLight;
}
#root,
#root > * {
  height: 100%;
  min-height: 100vh;
}
table * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  font-family: DMMonoMediumItalic;
  margin-bottom: 2px;
  margin-top: 10px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.cell {
  background-position: center;
  background-size: 110%;
  font-size: 12px;
  text-align: center;
}
.cell:hover {
  box-shadow: inset 0px 0px 1px 1px #666;
}
@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
